name: zfs-ligand
channels:
  - conda-forge
  - pyg
dependencies:
  - python=3.10
  - rdkit
  - pytorch
  - pyg
  - numpy
  - pandas
  - scikit-learn
  - streamlit
  - pip
  - pip:
      - torch-geometric
